.login-form-container {
    font-family: Graphik-Light-Web, sans-serif;
    background-color: #14181c;
    color: #667788;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.login-form-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.login-form-field {
    margin-bottom: 10px;
    width: 260px;
}

.entry-row {
    width: 260px;
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
    vertical-align: baseline;
}

.login-button {
    color: #fffcf1;
    font-family: Graphik-Semibold-Web, sans-serif;
    background-color: #00a11d;
    border: none;
    border-radius: 5px;
    width: 80px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 10px;
}

.input-field {
    margin-left: 10px;
    width: auto;
    background-color: #ccddee;
}
