.dropdown-button {
    color: #bbccdd;
    font-family: Graphik-Semibold-Web, sans-serif;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.dropdown-button:hover {
    color: #ffffff;
}
