.edit-profile-container {
    font-family: Graphik-Light-Web, sans-serif;
    color: #9ab;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.edit-profile-header {
    margin-top: 0px;
    margin-bottom: 20px;
}

.edit-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.entry-field {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.edit-profile-field {
    margin-bottom: 10px;
    width: auto;
}

.profile-button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.edit-profile-button {
    color: #fffcf1;
    font-family: Graphik-Semibold-Web, sans-serif;
    background-color: rgb(0, 176, 32);
    border: none;
    height: 28px;
    border-radius: 5px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 10px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.edit-profile-button:hover {
    background-color: #00a11d;
}
