.create-profile-container {
    font-family: Graphik-Light-Web, sans-serif;
    color: #9ab;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}

.create-profile-header {
    margin-top: 0px;
    margin-bottom: 20px;
}

.create-profile-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.profile-form-field {
    margin-bottom: 0px;
    width: auto;
}

.create-profile-button {
    color: #fffcf1;
    font-family: Graphik-Semibold-Web, sans-serif;
    background-color: #00a11d;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}

.profile-input-row {
    width: 330px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    text-align: bottom;
    margin-bottom: 10px;
}

.profile-input-field {
    width: 255px;
    max-width: 255px;
    background-color: #ccddee;
    border-radius: 3px;
}
