.profile-dropdown {
	position: absolute;
	font-family: Graphik-Semibold-Web,sans-serif;
	right: 0%;
	color: #667788;
	background-color: #14181c;
	box-shadow: rgb(42 47 53 / 10%) 0px 1px 4px;
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: space-around;
	padding-left: 27px;
	padding-right: 27px;
	padding-top: 27px;
	padding-bottom: 10px;
	margin: 0;
}

.profile-dropdown-element {
	padding-bottom: 5px;
}

.alt-nav {
	background-color: #14181c;
	font-family: Graphik-Regular-Web, sans-serif;
	font-weight: 800;
	color:rgb(255, 255, 255);
	position: relative;
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	list-style-type: none;
	height: 72px;
}

.nav-right {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
}

.profile-link {
	margin-right: 20px;
}

.link-text {
	font-family: Graphik-Semibold-Web,sans-serif;
	font-weight: 700;
	font-size: 13px;
	color: #9ab;
	text-decoration: none;
}

.link-text:visited {
	text-decoration: none;
}

.link-text:link {
	text-decoration: none;
}

.link-text:hover {
	text-decoration: none;
}

.link-text:active {
	text-decoration: none;
}

.logo {
	text-decoration: none;
	color:rgb(255, 255, 255);
	font-family: Graphik-Regular-Web, sans-serif;
	font-weight: 800;
}

.icon {
	padding-right: 10px;
}

#play1 {
	color: #ff8000;
}

#play2 {
	color: #00e054;
}

#play3 {
	color: #40bcf4;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title:visited {
	text-decoration: none;
}

.title:link {
	text-decoration: none;
}

.title:hover {
	text-decoration: none;
}

.title:active {
	text-decoration: none;
}

.hidden {
	display: none;
}

.navContainer {
	background-color: #14181c;
	position: relative;
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	height: 72px;
}

.corner-button {
	margin-right: 28px;
	color: #fffcf1;
    font-family: Graphik-Semibold-Web, sans-serif;
    background-color: #00a11d;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 28px;
    font-size: 1rem;
    font-weight: 400;
}

.dropdown-button {
	padding: 0px;
}
