.profile-dropdown {
	position: fixed;
	right: 26%;
	color: black;
	background-color: white;
	border-radius: 8px;
	background: rgb(255, 255, 255);
	box-shadow: rgb(42 47 53 / 10%) 0px 1px 4px;
	list-style-type: none;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 27px;
	margin: 0;
}

.logo {
	text-decoration: none;
	color:rgb(255, 255, 255);
	font-family: Graphik-Regular-Web, sans-serif;
}

.title {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.title:visited {
	text-decoration: none;
}

.title:link {
	text-decoration: none;
}

.title:hover {
	text-decoration: none;
}

.title:active {
	text-decoration: none;
}

.hidden {
	display: none;
}

.navContainer {
	background-color: #14181c;
	position: relative;
	margin: 0px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	list-style-type: none;
	height: 72px;
}
