.profile-dropdown {
  position: absolute;
}

.hidden {
  display: none;
}

.navContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
}
