.review-form-container {
    font-family: Graphik-Light-Web, sans-serif;
    background-color: #14181c;
    color: #667788;
    margin: 0px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-review-header {
    margin-top: 0px;
    margin-bottom: 0px;
}

.create-review-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

.review-form-field {
    margin-bottom: 10px;
    width: auto;
}

.review-button {
    color: #fffcf1;
    font-family: Graphik-Semibold-Web, sans-serif;
    background-color: #00a11d;
    border: none;
    border-radius: 5px;
    width: 80px;
    height: 28px;
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: 5px;
}
