.pfp {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid grey;
}

.pfp:hover {
    height: 100px;
    width: 100px;
    border-radius: 50px;
    border: 2px solid white
}

.profile-review-poster {
    width: 75px;
    height: 110px;
    border-radius: 5px;
}

.profile-container {
    color: #9ab;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-banner {
    display: flex;
    flex-direction: row;
}

.banner-right-top {
    display: flex;
    flex-direction: row;
}
